button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size:30px;
    color:#f8e7e6 ;
    background-color:#591C21 ;
    transition: backgroud-color 0.5s ease;

}
button:hover {
    background-color: #69282ddc;
}